<nav-bar-login listitem="Admin"></nav-bar-login>

<div class="page-header">
  <h1 class="primary-heading"> Login </h1>
</div>
<div class="login-container">
  <div>
    <form
      sf-schema="schema"
      sf-form="form"
      sf-model="model"
      name="loginUser"
      ng-submit="onLogin(loginUser)"
      class="form-container"
    ></form>
  </div>
  <div class="error-block hidden">
    <p class="txt-error">
      invalid credentials&nbsp;&nbsp;<i class="fa fa-close"></i>
    </p>
  </div>
</div>
